        <%- include('header') %>
        <%- categorias.forEach (categoria  => { %>
            <%- categoria.id %> = <%- categoria.categoria%>
        <% }) %>
           
        <h2>Open roles:</h2>
        
         <div>
            <h3>Engineering team </h3>
            <ul>
                <li><a href="Vagas">Fullstack Developer (Remote)</a></li>
            </ul>
         
         </div>
         
         <div>
            <h3>Digital Marketing team</h3>
            <ul>
                <li>Digital Marketing (San Francisco)</li>
            </ul>
         
         </div>
<%- include('footer') %>
